@model GalloFlix.Models.Genre
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-4 m-auto">

    <h1 class="display-4">Gênero</h1>
    <h4 class="display-6">Excluir</h4>
    <hr />

    <h3 class="text-danger">Confirma a exclusão desse Gênero?</h3>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete" class="mt-4">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger me-3"><i class="bi bi-trash-fill"></i> Excluir</button>
        <a asp-action="Index" class="btn btn-primary"><i class="bi bi-arrow-left-circle-fill"></i> Voltar a Listagem</a>
    </form>
</div>