@model GalloFlix.Models.Movie
@{
    ViewData["Title"] = "Filmes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="display-4">Filmes</h1>
<h4 class="display-6">Adicionar</h4>
<hr />
<form asp-action="Create" class="row" enctype="multipart/form-data">
    <div class="col-md-6 col-sm-12 col-xxl-7">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 mb-2">
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="col-12 mb-2">
            <label asp-for="OriginalTitle" class="form-label"></label>
            <input asp-for="OriginalTitle" class="form-control" />
            <span asp-validation-for="OriginalTitle" class="text-danger"></span>
        </div>
        <div class="col-12 mb-2">
            <label asp-for="Synopsis" class="form-label"></label>
            <textarea asp-for="Synopsis" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Synopsis" class="text-danger"></span>
        </div>
        <div class="row mb-2">
            <div class="col-md-4">
                <label asp-for="MovieYear" class="form-label"></label>
                <input asp-for="MovieYear" class="form-control" />
                <span asp-validation-for="MovieYear" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Duration" class="form-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="AgeRating" class="form-label"></label>
                <input asp-for="AgeRating" class="form-control" />
                <span asp-validation-for="AgeRating" class="text-danger"></span>
            </div>
        </div>
    </div>
        <div class="col-md-2 col-sm-12 col-xxl-2"> 
        <label class="form-label">Gêneros</label>
        <select class="form-select" multiple asp-items="ViewBag.Genres" name="Genres" size="15">
        </select>
    </div>
    <div class="col-md-4 col-sm-12 col-xxl-3">
        <div class="form-group">
            <label asp-for="Image" class="form-label"></label>
            <img id="PreviewImage" src="~/img/sem_foto.png" class="img-fluid w-100 pointer" onclick="changeImage()">
            <input type="file" name="formFile" class="form-control" accept=".jpg,.jpeg,.png,.gif,.jfif" />
            <input asp-for="Image" class="d-none" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
    </div>
    <div class="col-12 mt-4">
        <button type="submit" class="btn btn-success me-3"><i class="bi bi-save2-fill"></i> Salvar</button>
        <a asp-action="Index" class="btn btn-primary"><i class="bi bi-arrow-left-circle-fill"></i> Voltar a
            Listagem</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function changeImage(){
            document.querySelector('input[type="file"]').click();
        }

        window.addEventListener('load', function () {
            document.querySelector('input[type="file"]').addEventListener('change', function () {
                if (this.files && this.files[0]) {
                    var img = document.getElementById('PreviewImage');
                    img.src = URL.createObjectURL(this.files[0]);
                }
            });
        });
    </script>
}