main {
    min-height: calc(100vh - 140px);
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 400px !important;
}

.form-register {
    width: 600px !important;
}

.forgetPassword{
    text-decoration: none;
}

.forgetPassword:hover{
    text-decoration: underline;
}

.separator{
    display: flex;
    align-items: center;
    color: var(--bs-body-color);
    margin: 15px 0;
  }
  
  .separator h6{
    padding: 0 10px;
    font-weight: normal;
    color: var(--bs-body-color);
    margin-bottom: 0.2rem;
  }
  
  .separator .line{
    flex: 1;
    height: 1px;
    background-color: var(--bs-body-color);
  }