@{
    ViewData["Title"] = "Recuperação de Senha";
}

@section Styles {
    <link rel="stylesheet" href="~/css/account.css">
}

<div class="form-register">
    <div class="text-center">
        <img src="~/img/logo.png" alt="Logo" width="250">
        <h1 class="my-3">@ViewBag.Title!!</13>
        <h3 class="my-3 fw-normal">Acesse o email informado para concluir o processo de recuperação de senha</h3>
    </div>
</div>