@{
    ViewData["Title"] = "Confirmação de Conta";
    @* Layout = "~/Views/Shared/_LayoutAccount.cshtml"; *@
}

@section Styles {
    <link rel="stylesheet" href="~/css/account.css">
}

<div class="form-register">
    <div class="text-center">
        <img src="~/img/logo.png" alt="Logo" width="250">
        <h1 class="my-3">Quase pronto!!</13>
        <h3 class="my-3 fw-normal">Acesse o email informado para concluir a criação de sua conta</h3>
    </div>
</div>