@model GalloFlix.DataTransferObjects.LoginDto
@{
    ViewData["Title"] = "Criar Conta";
}

@section Styles{
    <link rel="stylesheet" href="~/css/register.css">

}

<div class="text-center">
    <h1 class="display-4">Criar Conta de Acesso</h1>
</div>