@{
    ViewData["Title"] = "Confirmação de Conta";
}

@section Styles{
<link rel="stylesheet" href="~/css/register.css">

}

<form>
    <div class="text-center">
        <h1 class="display-4">Quase Pronto</h1>
        <h3>Acesse o email informado para concluir a criação de sua conta</h3>
    </div>
</form>